form ~ form {
  margin-top: 1.5em;
}
fieldset > div {
  padding: 0.3em;
}
input[type='text'],
textarea {
  display: block;
}
[data-form-submit-error-for],
[data-form-submit-counter-for] {
  padding: 0.2em;
  font-weight: bold;
  font-size: small;
  font-size: 90%;
  display: block;
}
[data-form-submit-error-for] {
  color: #c00;
}
[name='timestamp'] {
  width: 20em;
}
